{% extends "plantillaBase2.html" %}

{% block tituloPagina %}
<div class="row text-center">
    <div class="col-12" id="formulario">
        <h1><strong>Formulario</strong></h1>
    </div>
</div>
<br><br>
{% endblock %}

{% block contenido %}
    <!-- Formulario --------------------------------------------------------------->

    <form action="{% url 'registro' %}" id="miForm" method="post">
        {% csrf_token %} 
        <div class="row">
            <div class="col-12 col-md-1 offset-md-4">
                Nombre
            </div>
            <div class="col-12 col-md-5 col-xl-3">
                <input type="text" name="txtNombre" class="form-control" placeholder="Ej: Mauricio Lopez">
                    
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-1 offset-md-4">
                Correo
            </div>
            <div class="col-12 col-md-5 col-xl-3">
                <input type="text" name="txtCorreo" class="txtCorreo form-control" placeholder="Ej: m_lopez65@hotmail.com">
                    
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-1 offset-md-4">
                Clave
            </div>
            <div class="col-12 col-md-5 col-xl-3">
                <input type="password" name="txtClave" class="txtClave form-control" placeholder="Ej: ******">
                    
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-1 offset-md-4 offset-xl-5 ">
            </div>
            <div class="col-12 col-md-3">
                <input type="reset" name="btnLimpiar" class="btnLimpiar btn btn-dark" value="Limpiar">
                <input type="submit" name="btnEnviar" class="btnEnviar btn btn-dark" value="Enviar">
            </div>
        </div>
    </form>
{% endblock %}