
  h3{
    color:#bc002d;
    text-transform: uppercase;
  }

hr{
  border-color: #ebebeb;
}

h6{
  color:#ff8000;
}

footer{
  color:white;
  background: black;
}

h1{
  color:#bc002d;
  text-transform: uppercase;
}

